<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514441035496-udo0vq35flg9aigtd198smlco926b49o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514441035496-udo0vq35flg9aigtd198smlco926b49o</string>
	<key>API_KEY</key>
	<string>AIzaSyAWTejZ7etghhaVq5fKGCtb5-i0tatgRao</string>
	<key>GCM_SENDER_ID</key>
	<string>514441035496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jh.pedigreejh</string>
	<key>PROJECT_ID</key>
	<string>pedigree-f0028</string>
	<key>STORAGE_BUCKET</key>
	<string>pedigree-f0028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514441035496:ios:9d8c8ebadd9fd34a14535d</string>
</dict>
</plist>